@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-color: transparent #e31b6d;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #e31b6d;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #04c2c9;
}
