.myImage {
  background-image: url("../public/assets/images/image-reverse.png");
  /* background-image: url("../../assets/images/image_new.png"); */
  object-fit: contain; /* Ensure the image fits within its container */
  background-attachment: fixed; /* Parallax fixed effect */
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Don't repeat the image */
  background-size: contain; /* Keep the image within its bounds without zooming */
  height: 100vh;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .myImage {
    background-attachment: fixed;
    background-position: center;
    height: 50vh;
  }
}
